{% extends "demo.html" %}
{% block content %}

  <h1>About Us</h1>
 

  <p>We are a team of experts who...</p>
  <p><h6>Hay Hai,</h6></p>
  <p>This is prasad actually my full name is y. nagendra prasad.</p>
  <p>This blog is all about hacking and tech stuff such as gaming and tech updates and mobile updates and new song lyrics also a lot of tech information.</p>
  <p><h1>REASON WHY I STARTED THE BLOG:</h1></b></p>
  <p>Basically I a typical middle-class student I hope you guys you may understand what is mean by typical middle-class families.</p>
  <p>There are a lot of restrictions to buy anything which we like because we need to save money for my studies and for household things and you know we need to save every rupee without enjoying we need to restrict your happiness for our family.</p>
  <p>According to me, I am the type of who wants to live like king with their income soo I wanna earn money and have to spend that money for me and for uses without getting the help of my mom and dad.</p>

{% endblock %}