{% extends "demo.html" %}
{% load static %}
{% block content %}
<p>&nbsp;Hacked</p>
<p><br /></p>
<h2 style="text-align: left;"><b>6 FREE ONLINE HACKING COURSES WITH CERTIFICATES</b></h2>
<p><br /></p>
<h3 style="text-align: left;">01. Introduction to Information Security.
</h3>
<p>Website :- <h1 style="background-color:Tomato;"><a href="http://Simplilearn.com">Simplilearn.com</a></h1></p>
<p>Features:</p>
<p>*12 hr course content</p>
<p>* Provides Certificate</p>
<p>* Covers all areas of IT security.</p>
<p><br /></p>
<h3 style="text-align: left;">02. Introduction to Cybersecurity.</h3>
<p>Website :-<h1 style="background-color:Tomato;"> <a href="http://Netacad.com">Netacad.com</a></h1></p>
<p>Features:</p>
<p>*15 hr course content.</p>
<p>* Understand the most common threats and attacks.</p>
<p>* Provides Certificate.</p>
<p><br /></p>
<h3 style="text-align: left;">03. Cybersecurity Essentials.</h3>
<p>Website :- <h1 style="background-color:Tomato;"><a href="http://Netacad.com">Netacad.com</a></h1></p>
<p>Features:</p>
<p>*30 hr course content.</p>
<p>* Understand security controls.</p>
<p>*Learn valuable security principals.</p>
<p>*Provides Certificate.</p>
<p><br /></p>
<h3 style="text-align: left;">04. Introduction to Cloud Security.</h3>
<p>Website :- <h1 style="background-color:Tomato;"><a href="http://Simplilearn.com">Simplilearn.com</a></h1></p>
<p>Features:</p>
<p>* 7 hr course content.</p>
<p>* Cloud computing concepts.&nbsp;</p>
<p>*learn Cloud Security Basics.</p>
<p>*Provides Certificate.</p>
<p><br /></p>
<h3 style="text-align: left;">05. Introduction to Cybersecurity.</h3>
<p>Website :- <h1 style="background-color:Tomato;"><a href="http://Mygreatlearning.com">Mygreatlearning.com</a></h1></p>
<p>Features:</p>
<p>* Free lifetime access.</p>
<p>*Completion Certificate.</p>
<p>* Learn Cybersecurity in depth.</p>
<p><br /></p>
<h3 style="text-align: left;">06. Ethical Hacking for Beginners.</h3>
<p>Website :- <h1 style="background-color:Tomato;"><a href="http://Simplilearn.com">Simplilearn.com</a></h1></p>
<p>Features:</p>
<p>*3 hr Course Content.</p>
<p>*Only For beginners.</p>
<p>* Get Free Certificate.</p>
<div><br /></div>
{% endblock %}