{% extends "demo.html" %}
{% load static %}
{% block content %}
<h1 style="text-align: left;">
    USE THESE TOOLS TO STAY PROTECTED ONLINE !</h1>
<p>&nbsp;<b>01.Adblock Plus <h1 style="background-color:Tomato;"> <a href="https://adblockplus.org/" target="_blank">Adblock Plus </a>(Browser Extension)</h1></b></p>

<p>Features :-</p>
<p>* Block abs and Banners</p>
<p>* Can be used to watch Youtude ads free.</p>
<p>* Fights off malvares the can hide in ads.</p>
<p><br /></p>
<p><b>02.Touch VPN <h1 style="background-color:Tomato;"><a href="https://touchvpn.net/" target="_blank"> Touch VPN</a> ( Browser Extension)</h1></b></p>
<p>Features :-</p>
<p>* secures your Network connection</p>
<p>* Acess websites blocked in your country.</p>
<p>* Completely Free to use.</p>
<p><br /></p>
<p><b>03.Monitor.firefox.com <h1 style="background-color:Tomato;"><a href="http://Monitor.firefox.com" target="_blank">Monitor.firefox.com</a> (Wedsite)</h1></b></p>

<p>Features :-</p>
<p>* Check if your data has been leaked online.</p>
<p>* Get Notified if your information leaks online.</p>
<p><br /></p>
<p><b>04.Unshorten.it<h1 style="background-color:Tomato;"><a href="https://unshorten.it/" target="_blank"> Unshorten.it</a> (wedsite)</h1></b></p>
<p>Features :-</p>
<p>* Helps to expand and check short URLs.</p>
<p>* Offers safety suggestions.</p>
<p><br /></p>
<p><b>05.defensivecomputingchecklist.com <h1 style="background-color:Tomato;"><a href="https://defensivecomputingchecklist.com/" target="_blank"> defensivecomputingchecklist.com </a> (Wedsite)</h1></b></p>
<p>Features :-</p>
<p>* Learn how to protect your various accounts online.</p>
<p>* List of software to use and software to avoid.</p>
<p><br /></p>
<p><b>06. Virustotal.com <h1 style="background-color:Tomato;"><a href="https://www.virustotal.com/gui/home/upload" target="_blank">Virustotal.com </a>(Wedsite)</h1></b></p>
<p>Features :-</p>
<p>* Analyse suspicious files,Domains,IPs and URLs to detect malware and other breaches,automatically share them with the security community.</p>
<div><br /></div>
{% endblock %}